<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        {% include 'global/partials/_head.html' %}
    </head>
    <body>
        {% include 'global/partials/_header.html' %}
        {% include 'global/partials/_messages.html' %}
        <script>
            var message_ele = document.getElementById("msg");
            setTimeout(function(){ 
              message_ele.style.display = "none"; 
            }, 5000);
        </script>

        <main class="content">
            {% block content %}{% endblock content %}
            {% include 'global/partials/_pagination.html' %}
        </main>

    </body>
</html>