<header class="header">
    <h1 class="header-heading">
        <a href="{% url 'contact:index' %}" class="header-link">
            Agenda
        </a>
    </h1>
    <nav class="menu">
        <ul class="menu-list">
            
            {% if request.user.is_authenticated %}
                <li class="menu-item">
                    <a href="{% url 'contact:create' %}" class="menu-link">New Contact</a>
                </li>
                <li class="menu-item">
                    <a href="{% url 'contact:user_update' %}" class="menu-link">Profile</a>
                </li>
                <li class="menu-item">
                    <a href="{% url 'contact:user_logout' %}" class="menu-link">Logout</a>
                </li>
            {% else %}
                <li class="menu-item">
                    <a href="{% url 'contact:user_login' %}" class="menu-link">Login</a>
                </li>
                <li class="menu-item">
                    <a href="{% url 'contact:register' %}" class="menu-link">Sign In</a>
                </li>
            {% endif %}

        </ul>
    </nav>
    <div class="search">
        <form action="{% url 'contact:search' %}" method="get">
            <input
                placeholder="Search"
                type="search"
                class="search-input"
                id="search"
                name="q"
                value="{% if request.GET.q %}{{ request.GET.q.strip }}{% endif %}"
            >
        </form>
    </div>
</header>
